.fe-fr{
  float: right;
}
.flex-box{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
@font-face {
  font-family: JetBrainsMono;
  src: url("../../icons/font/fonts/JetBrainsMono-Bold.ttf")
}